.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  justify-items: center;
}

.imageContainer {
  display: grid;
  align-items: center;
  height: 200px;
  margin-bottom: 10px;
}

.info {
  display: grid;
  justify-items: center;
  align-items: center;
}

.card a {
  text-decoration: none;
  color: black;
}

.card img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 10px;
}

.card h2,
.card p {
  margin: 0;
}

.productTitle {
  display: block;
  font-size: 1.2rem;
  text-align: center;
  max-height: 90px;
  overflow: hidden;
}

.rating {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.ratingCount {
  color: #444;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}
