.card {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.card a {
  text-decoration: none;
  color: black;
}

.card img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 10px;
}

.card h2 {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}

.card p {
  margin: 0;
}

.rating {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 5px;
}

.ratingCount {
  color: #444;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}