.cartPage {
  margin: auto;
  background-color: #afcbff;
  width: min(100vw, 1200px);
  padding: 20px;
  display: grid;
  justify-items: center;
}

.shopButton,
.checkoutButton {
  margin-bottom: 20px;
}

.shopButton a {
  color: white;
  text-decoration: none;
}

.popup {
  background-color: white;
  position: relative;
}

.popup button {
  background-color: inherit;
  border: none;
  padding: 0;
  position: absolute;
  top: 5px;
  right: 5px;
}
