.wrapper {
  display: flex;
  justify-content: center;
}

.cartPage {
  background-color: #afcbff;
  width: min(100vw, 1200px);
  padding: 20px;
  display: grid;
  justify-items: center;
}

.shopButton {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.shopButton a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}
