.dialog {
  background-color: #0e1c36;
  border-radius: 20px;
  color: white;
  font-size: 1.5rem;
}

.fields {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 20px;
  text-align: center;
}

.priceRange {
  margin: 0;
}

.priceInputs {
  grid-template-columns: max-content 1fr;
  display: grid;
  align-items: center;
}

.buttons {
  margin-top: 30px;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  gap: 30px;
}
