@font-face {
  font-family: 'Ananda Black';
  src: url(../fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf);
}

body {
  margin: 0;
  background-image: url(/clark-street-mercantile-P3pI6xzovu0-unsplash.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#root {
  display: grid;
  grid-template-rows: max-content 1fr;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background-color: transparent;
  border-radius: 10px;
}
