.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login {
  align-self: center;
  background-color: #afcbff;
  padding: 10px 20px;
  border-radius: 10px;
}

.fields input {
  display: block;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 10px;
}

.login button {
  font-size: 1rem;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid black;
}

.loginButton {
  width: 100%;
  margin: 10px 0;
  background-color: #0e1c36;
  color: white;
  border: none;
}

.guestButton {
  background-color: white;
}
