.navWrapper {
  padding: 10px;
  background-color: #0e1c36;
}

nav {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.logo {
  font-family: 'Ananda Black', sans-serif;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.nav ul {
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

nav li {
  height: 40px;
  width: 60px;
}

.nav button {
  background-color: #afcbff;
  border: 1px black solid;
  border-radius: 5px;
  height: 40px;
  width: 60px;
  cursor: pointer;
}