.productPage {
  margin: auto;
  background-color: #afcbff;
  max-width: 1200px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 40px;
}

.productPage img {
  max-width: 100%;
  max-height: 500px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

.productPage p {
  margin: 15px 0;
}

.rating {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 5px;
  width: max-content;
}

.ratingCount {
  color: #444;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.purchase {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
}

.purchase label {
  font-weight: bold;
}

.addToCartButton {
  height: 50px;
  width: 200px;
  border-radius: 25px;
  border: 2px solid black;
  font-weight: bold;
}

@media (max-width: 600px) {
  .productPage {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
