.querybar {
  background-color: #afcbff;
  grid-auto-flow: column;
  display: grid;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.searchLabel,
.filter button {
  height: 24px;
}

.search,
.filter {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 5px;
}

.filter button {
  background-color: #afcbff;
  border: none;
  padding: 0;
  height: 24px;
}

@media (max-width: 600px) {
  .querybar {
    grid-auto-flow: row;
    justify-items: center;
    gap: 5px;
  }
}
