.querybar {
  background-color: #afcbff;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.search,
.filter {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 5px;
}

.filter button {
  background-color: #afcbff;
  border: none;
  cursor: pointer;
}

@media (min-width: 600px) {
  .querybar {
    grid-auto-flow: column;
    justify-content: center;
    gap: 20px;
    height: 60px;
  }
}
