.shop {
  display: grid;
  justify-items: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: min(100vw, 1200px);
}

.loading {
  background-color: #AFCBFF;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  margin: 20px auto;
  width: max-content;
}