.shop {
  display: grid;
  justify-items: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill,275px);
  padding: 20px;
  gap: 20px;
  width: min(100vw, 1200px);
  background-color: #afcbff;
  justify-content: center;
}

.loading {
  background-color: #afcbff;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  margin: 20px auto;
  width: max-content;
}
